#root {
    margin: 0;
    padding: 0;
}

.bookPage {
    width: 100vw;
    height: 100vh;
    background-color: red;
    display: flex;
    flex-direction: column;
}

.header-section {
    display: flex;
    justify-content: space-between;
}

#book {
    margin: auto;
    background-color: #fff;
    width: 90vw;
}

.page {
    background-image: url(/public/paper-background.jpg);
    background-size: cover;
    text-align: justify;
    line-height: 23px;
}

.page-content {
    margin: 4vmax;
}

.page-corner {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 5%;
}