@font-face {
    font-family: chillax;
    src: url(../assets/fonts/Chillax-Medium.woff2);
}

@font-face {
    font-family: unown;
    src: url(../assets/fonts/Unown.ttf);
}

#root {
    margin: 0;
    padding: 0;
    color: #321505;
}

body {
    overflow: hidden; /* Hide scrollbars */
}

img {
    box-shadow: #000 2px 4px 5px;
}

.bookPage {
    width: 100vw;
    height: 100vh;
    background-color: #333;
    background-image: url(../assets/woodplane.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.header-section {
    margin: 2.5vh 5vw -5vh 5vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-section #top-left {
    display: flex;
    align-items: center;
}

.header-section #top-left button {
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    font-size: 3vmax;
    width: 4vw;
    padding: 0px;
    margin-right: 3vw;
}

.header-section #top-left button:hover {
    background-color: #555;
}

#book {
    box-shadow: #000 5px 10px 20px;
    margin: auto;
    background-color: #4c2c02;
    width: 90vw;
}

.page {
    background-image: url(../assets/parchment.jpg);
    background-size: cover;
    text-align: justify;
    line-height: 23px;
    z-index: 10;
}

.page h5 {
    font-size: 0.8vmax;
}

.page img {
    width: 40%;
    height: auto;
}

.page-content {
    margin: 4vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #321505;
}

/* number in bottom right corner of page */
.page-corner {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 5%;
}

.page-cover h1 {
    font-family: "Tangerine";
    margin-bottom: 0;
}

.page-cover h3 {
    font-size: 1vmax;
    letter-spacing: 3px;
}

.pageSlider {
    margin-bottom: 5vh;
}

.slider {
    background-color: #000;
}