
.slider {
    background-color: blue;
    height: 10px;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
}

.thumb {
    background-color: green;
    width: 50px;
    height: 10px;
    /* padding-bottom: 10px; */
    border-radius: 12px;
    border: none;
}

.thumb:hover {
    cursor: pointer;
}
