
.slider {
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.3);
    height: 17px;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
    transition: width 2s;
}

.thumb {
    background-color: #fff;
    background-image: url(../assets/parchment.jpg);
    background-size: cover;
    box-shadow: #000 2px 1px 5px;
    width: 100px;
    height: 15px;
    border-radius: 12px;
    border: none;
    transition: left 0.5s ease-out;
    outline: none;
}

.thumb:hover {
    cursor: pointer;
}
